body{
    background-image: url(../images/ac.jpg);

}

.fila{
    flex-direction: row;
}

.casilla{
    height: 7em;
    width: 7em;
    display: inline-flex;
    margin: 6px;
    border: 1px solid black;
    padding: 1em;
}

#a{
    background-image: url(../images/back_mantel.jpg);
}

#b{
    background-image: url(../images/back_mantel.jpg);
    background-clip: content-box;
    background-color: white;
}

#c{
    background-image: url(../images/back_mantel.jpg);
    background-size: 100% 100%;
}

#d{
    background-image: url(../images/back_mantel.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    background-color: white;
}

#e{
    background-image: url(../images/dh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#f{
    background-image: url(../images/dh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-color: white;
}

#g{
    background-image: url(../images/dh_2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
}

#h{
    background-image: url(../images/dh_3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
}

#i{
    background: linear-gradient(to right,#d2ff52 0%,#566647 100%)
}

#j{
    background: linear-gradient(to bottom,rgba(240,183,161,1) 0%, rgba(140,51,16,1) 80%, 
    rgba(117,34,1,1) 51%, rgba(191,110,78,1) 100%)
}

#k{
    background: linear-gradient(to top,rgba(50,116,45,1) 0%, rgba(239,239,210,1) 100%)
}

#l{
    background: linear-gradient(to top,rgba(50,116,45,1) 0%,rgba(255,255,255,0) 100%)
}